/* intro animation */
#intro{
    text-align: center;
    padding-top: 25vh;
    padding-bottom: 30vh;
}

#i{
    color: black;
    font-weight: 700;
}

.wrap{
    color: black;
    font-weight: 700;
}

#text-intro{
width: fit-content;
display: inline-flex;
}

.jumbotron{
    background: none;
}
/* preloader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(https://smallenvelop.com/wp-content/uploads/2014/08/Preloader_11.gif) center no-repeat #fff;
}

/* navbar */
#myNav{
    width: 0%;
}

#myNav.open{
    width: 100%;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    background-color: whitesmoke; /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #292929;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #050404;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

/* scroll animation */
    /* about */
    #reveal-about {
        opacity: 0;
        -webkit-transform: scale(0.8);
            -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                        transform: scale(0.9);
        -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                        transition: all 1s ease-in-out;
    }

    #reveal-about.visible {
        opacity: 1;
        -webkit-transform: none;
            -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                        transform: none;
    }

    /* exp */
    #reveal-exp {
        opacity: 0;
        -webkit-transform: scale(0.8);
            -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                        transform: scale(0.9);
        -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                        transition: all 1s ease-in-out;
    }
        
    #reveal-exp.visible {
        opacity: 1;
        -webkit-transform: none;
            -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                        transform: none;
    }

    /* skills */
    #reveal-skills {
        opacity: 0;
        -webkit-transform: scale(0.8);
            -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                        transform: scale(0.9);
        -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                        transition: all 1s ease-in-out;
    }
        
    #reveal-skills.visible {
        opacity: 1;
        -webkit-transform: none;
            -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                        transform: none;
    }