html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    font-family: 'Railway', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;

    background-color: white;
}

a { 
    transition: all 0.3s ease; 
    text-decoration: none;
}
a:hover { text-decoration: none; }

ul { padding: 0; }
button:focus { outline: none; }
p { line-height: 1.9; }

#intro{
    text-align: center;
    padding-top: 25vh;
    padding-bottom: 30vh;
}

#heading{
    font-family: Permanent Marker, serif;
    font-size: 9.0vw;
}

.section{
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.sect-l{
    height: 30em;
    width: 100%;
}

.sect-sm{
    height: 45em;
    width: 100%;
    display : flex;
    align-items : center;
    justify-content: center;
}

#about{
    color: white;
    background-color: rgba(0, 0, 0, 0.932);

 }

 #exp{
    color: white;
    background-color: rgba(0, 0, 0, 0.932);
 }

 #skills{
    color: white;
    background-color: rgba(0, 0, 0, 0.932);
 }
 

.blue{
    background-color: rgba(156, 177, 236, 0.5);
}

.red{
    background-color: rgba(255, 154, 123, 0.692);
}

.black{
    background-color: rgba(5, 5, 5, 0.692);
}

.purple{
    background-color: rgb(146, 96, 192);;
}

.text{
    text-align: center;
    font-size: 1.5em;
}

 
 #i{
     color: black;
     font-size: 8vw;
 }

.wrap{
    color: black;
    font-size: 8vw;
    font-weight: 700;
}

#text-intro{
    width: fit-content;
    display: inline-flex;
}

 .content {
     margin-top: 100px;
     margin-bottom: 100px;
     padding-left: 5%;
     padding-right: 5%;
 }
 
 #nav-main {
     font-size: 1.5rem;
     font-weight: 100;    
 }
 
 #nav-main .nav-link {
     font-family: Permanent Marker, serif;
     color: black;
     
 }
 
 #nav-main .nav-link:hover {
     color: lightskyblue;
 }
 
 #nav-main .navbar-brand {
     color: lightblue;
     font-size: 1.5rem;
 }
 
 .navbar.scrolled {
     display: none;
     /* background: white; */
     /* background: rgb(217, 235, 250);
     transition: background 500ms; */
 }

 .jumbotron{
     background: none;
 }
 


 /* about */
 #reveal-about {
    opacity: 0;
    -webkit-transform: scale(0.8);
        -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -o-transform: scale(0.9);
                    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
                    transition: all 1s ease-in-out;
 }

 #reveal-about.visible {
    opacity: 1;
    -webkit-transform: none;
        -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
                    transform: none;
 }

 /* exp */
 #reveal-exp {
    opacity: 0;
    -webkit-transform: scale(0.8);
        -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -o-transform: scale(0.9);
                    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
                    transition: all 1s ease-in-out;
     }
    
#reveal-exp.visible {
    opacity: 1;
    -webkit-transform: none;
        -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
                    transform: none;
}

    /* skills */
    #reveal-skills {
        opacity: 0;
        -webkit-transform: scale(0.8);
            -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                        transform: scale(0.9);
        -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                        transition: all 1s ease-in-out;
         }
        
    #reveal-skills.visible {
        opacity: 1;
        -webkit-transform: none;
            -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                        transform: none;
    }
 
    ul li{
        list-style: none;
        color: lightblue;
    }
    
    /* Navigation */
    .navbar-toggler {
        padding: 8px 15px;
        border: 0;
        border-radius: 0;
        transform: skewX(-2deg);
        color: white;    
    }
    
    .navbar-toggler i { transform: skewX(0deg); }
    
    .navbar-expand-lg {
        padding-left: 0;
        padding-right: 0;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link { padding: 0; }
    
    .navbar-expand-lg .navbar-nav .tm-nav-link {
        font-size: 1.3rem;
        font-weight: 400;
        color: white;    
        padding-bottom: 30px;    
    }
    
    .nav-item { margin-right: 60px; }
    
    .nav-item:last-child { margin-right: 0; }
    
    .nav-item.active .tm-nav-link,
    .nav-item:hover .tm-nav-link {
        color: #9CC;
    }

    
    @media (min-width:400px) {
    body {
    font-size: 7px;
    }
    h1{
        font-size: 14px;
    }
    #heading{
        font-size: 35px;
    }
    
    }

    @media (min-width:600px) {
    body {
        font-size: 8px;
    }
    h1{
        font-size: 16px;
    }
    #heading{
        font-size: 40px;
    }
    }
    
    @media (min-width:800px) {
    body {
        font-size: 10px;
    }
    h1{
        font-size: 20px;
    }
    #heading{
        font-size: 50px;
    }
    
    }
    
    @media (min-width:1000px) {
    body {
        font-size: 12px;
    }
    h1{
        font-size: 26px;
    }
    #heading{
        font-size: 70px;
    }
}