/* overview */
    html {
        overflow: scroll;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }

    body {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 300;
        background-color: white;
    }

    a { 
        transition: all 0.3s ease; 
        text-decoration: none;
    }
    
/* views */
    @media (min-width:400px) {
        body {
            font-size: 7px;
        }
        h1{
            font-size: 14px;
        }
        #i{
            font-size: 65px;
        }
        .wrap{
            font-size: 65px;
        }
        #heading{
            font-size: 80px;
            margin-bottom: -10px;
            position: relative;
            /* brings to the front */
            z-index: 2; 
        }
        #nav-main .nav-link {
            font-size: 16px;
        }
    }

    @media (min-width:600px) {
        body {
            font-size: 8px;
        }
        h1{
            font-size: 16px;
        }
        
        #i{
            font-size: 80px;
        }

        .wrap{
            font-size: 80px;
        }

        #heading{
            font-size: 100px;
            margin-bottom: -10px;
        }
        #nav-main .nav-link {
            font-size: 18px;
        }
    }
    
    @media (min-width:800px) {
        body {
            font-size: 10px;
        }
        h1{
            font-size: 20px;
        }

        #i{
            font-size: 100px;
        }

        .wrap{
            font-size: 100px;
        }

        #heading{
            font-size: 120px;
            margin-bottom: -15px;
        }

        #nav-main .nav-link {
            font-size: 20px;
        }
        
    }
    
    @media (min-width:1000px) {
        body {
            font-size: 12px;
        }
        h1{
            font-size: 26px;
        }

        #i{
            font-size: 120px;
        }

        .wrap{
            font-size: 120px;
        }
        #heading{
            font-size: 140px;
            margin-bottom: -30px;
        }
        #nav-main .nav-link {
            font-size: 28px;
        }
}