/* navbar */
#nav-main {
    font-size: 1.5rem;
    font-weight: 100;
    padding-left: 0px;    
}

#nav-main .nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}

#myNav .nav-link:hover {
    color: rgba(156, 177, 236, 0.5);
}

#nav-main .navbar-brand {
    font-size: 1.5rem;
}

.navbar.scrolled {
    /* display: none; */
    /* padding-left: 95%; */
    background: none;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}
.navbar-toggler {
    padding-left: 10px;
    /* transform: skewX(-2deg); */
    color: white;
    border-color: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link { 
    padding-left: 10px;
    padding-top: 15px;; 
    border-color: transparent;
}

.nav-item { margin-right: 60px; }

.nav-item:last-child { margin-right: 0; }

.nav-item.active .tm-nav-link,
.nav-item:hover .tm-nav-link {
    color: #9CC;

}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.sect-l{
    height: 30em;
    width: 100%;
}

.sect-sm{
    height: 65em;
    width: 100%;
    display : flex;
    align-items : center;
    justify-content: center;
}


/* #menu{
    width: 100%;
    height: auto;
} */

/* sections */

/* .section{
    padding-top: 10vh;
    padding-bottom: 3vh;
} */

/* .text{
    text-align: center;
} */

/* .content {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 5%;
    padding-right: 5%;
} */

/* .connect{
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: auto;
    width: 50px;
    margin-right: 3px;
} */