body {
    background: #0A0A0A;
    font-family: 'Raleway', sans-serif;
}

.sect h2 {
   font-weight: 100;
   font-size: 2.5rem;
   padding-top: 5%;
}

#edu{
    text-align: left;
    color: rgb(116, 205, 240);
}

#learn{
    text-align: center;
    color: rgb(236, 222, 139);
}

#music{
    text-align: right;
    color: rgb(238, 116, 111); 
}

#food{
    text-align: center;
    color: rgb(116, 205, 240);
}

.sect p {
    color: blanchedalmond;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.sect img{
    padding-right: 5%;
    padding-left: 5%;
    /* padding-bottom: 8px; */
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 5%;
    padding-right: 5%;
}

#nav-main {
    font-size: 1.5rem;
    font-weight: 100;    
}

#nav-main .nav-link {
    color: white;
}

#nav-main .nav-link:hover {
    color: lightskyblue;
}

#nav-main .navbar-brand {
    color: lightblue;
    font-size: 1.5rem;
}

.navbar.scrolled {
    background: rgb(1, 21, 41);
    transition: background 500ms;
}

.jumbotron{
    background: none;
}

.jumbotron h1{
    color: aliceblue;
    font-size: 3em;
}

/* animation */
 #intro-lg{
     padding-top: 10%;
     padding-bottom: 15%;
     padding-left: 40%;
     padding-right: 25%;
 }

 #intro-md{
    padding-top: 10%;
    padding-bottom: 15%;
    padding-left: 30%;
    padding-right: 15%;
}

 #intro-sm{
    padding-top: 25%;
    padding-bottom: 15%;
    padding-left: 20%;
    padding-right: 20%;
}

/* education section */
    #reveal-edu-img {
        opacity: 0;
        -webkit-transform: scale(0.8);
            -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                        transform: scale(0.9);
        -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                        transition: all 1s ease-in-out;
    }
    #reveal-edu-img.visible {
        opacity: 1;
        -webkit-transform: none;
            -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                        transform: none;
    }
    #reveal-edu-txt {
        opacity: 0;
        -webkit-transform: scale(0.8);
            -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                        transform: scale(0.9);
        -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                        transition: all 1s ease-in-out;
    }
    #reveal-edu-txt.visible {
        opacity: 1;
        -webkit-transform: none;
            -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                        transform: none;
    }

/* learn section */
    #reveal-learn-img {
        opacity: 0;
        -webkit-transform: scale(0.8);
            -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                        transform: scale(0.9);
        -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                        transition: all 1s ease-in-out;
    }
    #reveal-learn-img.visible {
        opacity: 1;
        -webkit-transform: none;
            -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                        transform: none;
    }
    #reveal-learn-txt {
        opacity: 0;
        -webkit-transform: scale(0.8);
            -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                        transform: scale(0.9);
        -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                        transition: all 1s ease-in-out;
    }
    #reveal-learn-txt.visible {
        opacity: 1;
        -webkit-transform: none;
            -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                        transform: none;
    }

/* music section */
    #reveal-music-img {
        opacity: 0;
        -webkit-transform: scale(0.8);
            -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                        transform: scale(0.9);
        -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                        transition: all 1s ease-in-out;
    }
    #reveal-music-img.visible {
        opacity: 1;
        -webkit-transform: none;
            -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                        transform: none;
    }
    #reveal-music-txt {
        opacity: 0;
        -webkit-transform: scale(0.8);
            -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                        transform: scale(0.9);
        -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                        transition: all 1s ease-in-out;
    }
    #reveal-music-txt.visible {
        opacity: 1;
        -webkit-transform: none;
            -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                        transform: none;
    }

/* food section */
    #reveal-food-img {
        opacity: 0;
        -webkit-transform: scale(0.8);
            -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                        transform: scale(0.9);
        -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                        transition: all 1s ease-in-out;
    }
    #reveal-food-img.visible {
        opacity: 1;
        -webkit-transform: none;
            -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                        transform: none;
    }
    #reveal-food-txt {
        opacity: 0;
        -webkit-transform: scale(0.8);
            -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                        transform: scale(0.9);
        -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                        transition: all 1s ease-in-out;
    }
    #reveal-food-txt.visible {
        opacity: 1;
        -webkit-transform: none;
            -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                        transform: none;
    }