body{
    background-color: #0F000F;
    color: aliceblue;
}

.nav-custom{
    background-color: whitesmoke;
    color: #0F000F;
}

.navbar a{
    color: #0F000F;
}

.jumbotron{
    background-color: #0F000F;
    border-top: 0px;
    border-bottom: 0px;
    padding-top: 7%;
    padding-bottom: 7%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}
